fly.toml
Dockerfile
.dockerignore
.git
.github
.gitignore
**/node_modules
frontend
**/__pycache__
**/*.pyc
**/*.pyo
**/*.pyd
**/.Python
**/env
**/venv
**/ENV
**/.env
**/backend/venv/
**/backend/storage/uploads/*
!**/backend/storage/uploads/.gitkeep
**/.DS_Store